/* .programs-detail {
    background-color: rgb(15, 208, 144);
} */

img {
    margin-right: 10px;
}


/*
.Pilates {
    background-color: yellow;
}

.Gym {
    background-color: rgb(0, 4, 255);
}

.Running {
    background-color: rgb(101, 6, 110);
}

.Diet {
    background-color: rgb(25, 114, 96);
}

.Yoga {
    background-color: rgb(194, 128, 23);
}

.Swimming {
    background-color: rgb(4, 118, 159);
}

.Lifting {
    background-color: rgb(109, 19, 136);
}


*/